
html,body{
    font-size:16px;
    padding:0;
    margin:0;
    font-family: "Lato", 'Arial, helvetica, sans-serif';
    position: relative;
    scroll-behavior: smooth;
}

/* Reusable classes for js and not only */
.darkLayer{
    background-color: black;
    position: fixed;
    left: 0px;
    top: 0px;
    width:100%;
    height:100%;
    opacity:0.6;
}

.lastItem{
    margin-top: auto;
}

.backgroundWhite{
    background-color:white!important;
}

.backgroundBlue{
    background-color: rgb(53,100,252)!important;
}

.displayNone{
    display:none !important;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

/* Navigation */
.navi{
    width:100%;
    position:fixed;
    z-index: 1;
}

/* Welcome screen */
.welcome{
    background-size: cover;
    background-position:center;
    background-repeat:no-repeat;
    background-image: url("../images/welcome_background_lines.png"), -moz-linear-gradient( 39deg, rgb(54,149,255) 0%, rgb(53,100,252) 100%);
    background-image:url("../images/welcome_background_lines.png"), -webkit-linear-gradient( 39deg, rgb(54,149,255) 0%, rgb(53,100,252) 100%);
    background-image:url("../images/welcome_background_lines.png"), -ms-linear-gradient( 39deg, rgb(54,149,255) 0%, rgb(53,100,252) 100%);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome__circle{
    border-style: solid;
    border-width: 3px;
    border-color: rgb(255, 255, 255);
    border-radius: 50%;
    background: url("../images/face.png");
    background-position-y: 18px;
    background-size:contain;
    background-repeat: no-repeat;
    background-color: rgb(255, 255, 255);
    margin-top:150px;
    position:relative;    
    width: 125px;
    height: 125px;  
}

.welcome__circle:after{
    content:"";
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    opacity: 0.059;
    position: absolute;
    left: calc(50% - 83px);
    top: -20px;
    width: 165px;
    height: 165px;  
}

.welcome__circle:before{
    content:"";
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    opacity: 0.09;
    position: absolute;
    left: calc(50% - 72px);
    top: -10px;
    width: 144px;
    height: 144px; 
}

.welcome--header{
    font-size: 40px;
    font-weight:900;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
}

.welcome--header3{
    font-size: 22px;
    font-weight:300;
    color: rgba(255, 255, 255, 0.7);
    text-transform: uppercase;
    line-height: 2.188;
    text-align: center;     
}

.btnHire{
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 20px;
    width: 150px;
    height: 35px;
    cursor: pointer;
    transition: cubic-bezier(0.19, 1, 0.22, 1) .35s all;
  }

.btnHire:hover{
    box-shadow:0px 0px 15px rgba(16, 52, 170, 0.747);
}

.btnHire__span{
    font-size: 12px;
    color: rgb(54, 149, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.875;
    text-align: center;
}

.welcome--arrow{
    background: url("../images/arrow_down.png");
    background-size:contain;
    background-position:center;
    background-repeat: no-repeat;
    width: 10px;
    height: 20px; 
    margin-top:50px;
    margin-bottom:50px;
    padding: 10px;
    cursor: pointer;
}

/* Back to top button */

.backToTop{
    color: rgba(16, 52, 170, 0.747);
    font-size:4rem;
    border: none;
    background-color:transparent;
    position: fixed;
    right: 5%;
    bottom:10%;
    width: 100px;
    height: 50px;
    cursor: pointer;
    outline: none;
    opacity: 1;
}
.backToTop > span{
    font-size: 0.75rem;
    margin-top: -10px;
    display:block;
    
}
/* About me section */

.aboutMe{
    width:100%;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    margin-bottom:95px;
    
}
  


.aboutMe > h1{
    font-size: 42px;
    font-weight: 300;
    color: rgb(54, 119, 253);
    line-height: 0.702;
    text-align: center;
}

.aboutMe > p{
    font-size: 15px;
    color: rgb(90, 90, 90);
    max-width: 75vw;
    line-height: 1.988;
    text-align: center;
  
}

.skills{
    background-color: rgb(241, 248, 255);
}

.skills__header{
    font-size: 42px;
    font-weight:300;
    color: rgb(54, 119, 253);
    line-height: 0.702;
    text-align: center;
    width:100%;   
}

.skillContener{
    display:flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}

.skillContener__box{
    margin: 5px;
    margin-right: 25px;
    margin-top:15px;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width:calc(100% / 4);
    height: 35%;
}

.circleJs{
    background: url("../images/javascript.png");
    background-repeat:no-repeat;
    background-size:60%;
    background-position:center;
}
.circleCss{
    background: url("../images/css.png");
    background-repeat:no-repeat;
    background-size:60%;
    background-position:center;
}
.circleHtml{
    background: url("../images/html.png");
    background-repeat:no-repeat;
    background-size:60%;
    background-position:center;
}
.circleCommunicative{
    background: url("../images/meeting.png");
    background-repeat:no-repeat;
    background-size:60%;
    background-position:center;
}
.circleSolving{
    background: url("../images/research.png");
    background-repeat:no-repeat;
    background-size:60%;
    background-position:center;
}
.circleLearning{
    background: url("../images/bulb.png");
    background-repeat:no-repeat;
    background-size:60%;
    background-position:center;
}
.skillContener__box--circle{
    border-style: solid;
    border-width: 1px;
    border-color: rgb(183, 192, 201);
    border-radius: 50%;
    width: 104px;
    height: 104px;     
}

.skillContener__box--header{
    font-size: 22px;
    color: rgb(54, 119, 253);
    font-weight: bold;
    line-height: 1;
    text-align: center;   
}

.skillContener__box--paragraph{
    font-size: 13px;
    color: rgb(90, 90, 90);
    line-height: 1.488;
    text-align: center;      
}
/* Section Projects 120vh */
.projects{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    
}

.projectsContainer{
    display:flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}

.projects__header{
    font-size: 42px;
    font-weight:300;
    color: rgb(54, 119, 253);
    line-height: 0.702;
    text-align: center;
    width:100%;
}

.projects__box{
    border-style: solid;
    border-width: 1px;
    border-color: rgb(244, 244, 244);
    border-radius: 10px;
    margin: 5px;
    margin-right: 25px;
    margin-top:50px;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width:calc(100% / 4);
    height: 300px;
    cursor: pointer;
    transition: .3s all cubic-bezier(0.19, 1, 0.22, 1);
}
.projects__box:hover{
box-shadow: 0px 0px 5px rgb(54, 148, 255);
}

.projects—weatherApp{
    background: url("../images/cloud.png");
    background-repeat:no-repeat;
    background-size:40%;
    background-position:center;
    background-color: rgb(244, 244, 244);
}
.projects—calendarApp{
    background: url("../images/calendar.png");
    background-repeat:no-repeat;
    background-size:40%;
    background-position:center;
    background-color: rgb(244, 244, 244);
}
.projects—darts{
    background: url("../images/darts.png");
    background-repeat:no-repeat;
    background-size:40%;
    background-position:center;
    background-color: rgb(244, 244, 244);
}
.projects—musicPlayer{
    background: url("../images/music-player.png");
    background-repeat:no-repeat;
    background-size:40%;
    background-position:center;
    background-color: rgb(244, 244, 244);
}
.projects—fryzjerWeb{
    background: url("../images/computer-screen.png");
    background-repeat:no-repeat;
    background-size:40%;
    background-position:center;
    background-color: rgb(244, 244, 244);
}
.projects—fundacjaWeb{
    background: url("../images/computer-screen2.png");
    background-repeat:no-repeat;
    background-size:40%;
    background-position:center;
    background-color: rgb(244, 244, 244);
}

/* Section Hire */
.hireMe{
    background-image:url("../images/paski_bg.png"), -moz-linear-gradient( 39deg, rgb(54,149,255) 0%, rgb(53,100,252) 100%);
    background-image:url("../images/paski_bg.png"), -webkit-linear-gradient( 39deg, rgb(54,149,255) 0%, rgb(53,100,252) 100%);
    background-image:url("../images/paski_bg.png"), -ms-linear-gradient( 39deg, rgb(54,149,255) 0%, rgb(53,100,252) 100%); 
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
    
}

.hireMe__container{
    padding-top:20px;
    padding-bottom:20px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.hireMe > .container > h1{
    font-size: 30.324px;
    font-weight:300;
    line-height: 1.3;
    color: white;
}

.hireMe__container > button{
    margin-left:30px;
    transition: 0.35s all cubic-bezier(0.19, 1, 0.22, 1)
}

.hireMe__container > button:hover{
    box-shadow:0px 0px 15px rgba(16, 52, 170, 0.747);
}

.hireMe--ready{
    font-weight:800;
}

/* Button menu*/
.menubtn{
    border: none;
    background-color:white;
    position:relative;
    display:flex;
    justify-content:space-between;
    flex-direction: column;
    top:9vh;
    left: 90%;
    width: 25px;
    height:3px;
    cursor: pointer;
    z-index:5;  
     
}
.menubtn:after{
    content:"";
    background-color: inherit;
    position: absolute;
    top: 6px;
    left:0px;
    width: 100%;
    height: 3px;
}
.menubtn:before{
    content:"";
    background-color: inherit;
    position: absolute;
    top: 12px;
    left:0px;
    width: 100%;
    height: 3px;
}

.menubtn:focus{
    outline:0;
}


/* menuPopup */
ul,li{
    list-style-type: none;
    padding:0;
}

.menuPopup{
    background-color:white;
    border-radius: 10px;
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position:fixed;
    top:5%;
    left: 50%;
    margin-left: -600px;
    height:auto;
    z-index:1;
}

.menuPopup__btnExit{
    border:none;
    background-color:transparent;
    position:relative;
    left:48%;
    width:30px;
    height:30px;
    margin-top:10px;
    cursor: pointer;
}

.menuPopup__btnExit:focus{
    outline:none;
}

.menuPopup__btnExit__line{
    background-color:rgb(53,100,252);
    width:18px;
    height:2px;
}

.menuPopup__btnExit__line--line1{
    transform: rotate(45deg) translateX(1px);
}

.menuPopup__btnExit__line--line2{
    transform: rotate(-45deg) translateX(1px);
}

.menuPopup--link{
    font-size: 34px;
    color: rgb(210, 210, 210);
    line-height: 1.96;
    text-decoration: none;
    transition: 0.35s cubic-bezier(0.455, 0.03, 0.515, 0.955) color;
}

.menuPopup--link:hover{
    color: rgb(54, 119, 253);
}

hr{
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin-top:30px;
    height: 0;
    width:25%;
}

.menuPopup__social{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   padding-top:50px;
   margin-bottom:50px;
    
}

.menuPopup__social__item{
    border-radius: 50%;
    width: 51px;
    height: 51px;  
    margin:10px;
    cursor: pointer;
    transition: 0.35s cubic-bezier(0.455, 0.03, 0.515, 0.955) all
}

.menuPopup__social__item--github{
    background:url("../images/github-logo.png");
    background-size:70%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(225, 225, 225);
}

.menuPopup__social__item--facebook{
    background:url("../images/facebook-logo.png");
    background-size:70%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(225, 225, 225);
}

.menuPopup__social__item--email{
    background:url("../images/mail-black-envelope-symbol.png");
    background-size:70%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(225, 225, 225);
}

.menuPopup__social__item--facebook:hover, .menuPopup__social__item--github:hover, .menuPopup__social__item--email:hover{
    background-color: rgb(53,100,252);
}

/* Hire me Popup */

.hirePopup{
    background-color:white;
    border-radius: 10px;
    text-align: center;
    position:fixed;
    top:5%;
    min-width: 40%;
    left: 30%;
    z-index:1;
}

.hirePopup__btnExit{
    border:none;
    background-color:transparent;
    position:relative;
    left:46%;
    width:30px;
    height:30px;
    margin-top:5px;
    cursor: pointer;
}

.hirePopup__btnExit:focus{
    outline:none;
}

.hirePopup__btnExit__line{
    background-color:rgb(53,100,252);
    width:18px;
    height:2px;
}

.hirePopup__btnExit__line--line1{
    transform: rotate(45deg) translateX(1px);
}

.hirePopup__btnExit__line--line2{
    transform: rotate(-45deg) translateX(1px);
}

.hirePopup > h1{
    font-size: 34px;
    font-weight:300;
    color: rgb(54, 119, 253);
    line-height: 1.56;
    text-align: center;  
}

.hirePopup__form{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hirePopup__form__input{
    color: rgba(90, 90, 90, 0.502);
    line-height: 2.188;
    padding: 10px;
    margin-bottom:15px;
    text-align: left;  
    border-style: solid;
    border-width: 1px;
    border-color: rgb(183, 192, 201);
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    width:60%; 
}

.hirePopup__form__input--message{
    height:120px;
    resize: none;
    line-height:1;
}

.hirePopup__form__input--submit{
    font-size: 16px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    text-transform: uppercase;
    line-height: 2.175;
    text-align: center;
    border-radius: 30px;
    margin: 25px;
    background-image: -moz-linear-gradient( 39deg, rgb(54,149,255) 0%, rgb(53,100,252) 100%);
    background-image: -webkit-linear-gradient( 39deg, rgb(54,149,255) 0%, rgb(53,100,252) 100%);
    background-image: -ms-linear-gradient( 39deg, rgb(54,149,255) 0%, rgb(53,100,252) 100%);
    width: 150px;   
    cursor:pointer;
    transition: cubic-bezier(0.19, 1, 0.22, 1) 0.35s all;
}

.hirePopup__form__input--submit:hover{
    box-shadow:0px 0px 5px rgb(53,100,252);
}

.hirePopup__form__input:focus{
    outline: none;
    box-shadow: 0px 0px 2px rgba(54, 120, 253, 0.87);
}

/* Projects popup */

.projectPopup{
    background-color:white;
    border-radius: 10px;
    position:fixed;
    top:5%;
    left: 50%;
    margin-left: -600px;
    z-index:2;
}

.projectPopup__header{
    box-sizing: border-box;
    background-color: rgb(241, 248, 255);
    display:flex;
    justify-content: flex-start;
    flex-direction: row;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding:15px;
    width:100%;
}

.projectPopup__header--icon{
    background-size: contain;
    background-repeat:no-repeat;
    background-position: center;
    margin-left:15px;
    width:30px;
    height:30px;
}

.projectPopup__header--title{
    font-size: 34px;
    color: rgb(54, 119, 253);
    line-height: 0.702;
    text-align: center;
    margin-left:15px;
    margin-right:30px;
}

.projectPopup__header--tags{
    font-size: 13px;
    color: rgb(0, 0, 0);
    line-height: 1.9888;
    text-align: center;
    border:none;
    border-radius: 10px;
    background-color: rgba(54, 120, 253, 0.404);  
    margin-left:15px;
    padding-right:8px;
    padding-left:8px;
    height:50%;
    opacity:0.9;
}

.projectPopup__btnExit{
    border:none;
    background-color:transparent;
    left:95%;
    position:absolute;
    width:30px;
    height:30px;
    cursor: pointer;
}

.hirePopup__btnExit:focus{
    outline:none;
}

.projectPopup__header__line{
    background-color:rgb(53,100,252);
    width:18px;
    height:2px;
}

.projectPopup__header__line--line1{
    transform: rotate(45deg) translateX(1px);
}

.projectPopup__header__line--line2{
    transform: rotate(-45deg) translateX(1px);
}

.projectPopup__content > img{
    position:relative;
    left: 12.5%;
    width:75%;
}

.projectPopup__links{
    background-color: rgb(241, 248, 255);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding:10px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    
}

.projectPopup__links--live, .projectPopup__links--github{
    font-size: 16px;
    font-weight: 500;
    color: rgb(54, 149, 255);
    text-transform: uppercase;
    line-height: 1.875;
    text-align: center;
    background-color:rgb(53,100,252);
    border: none;
    border-radius: 20px;
    width: 150px;
    height: 35px;
    cursor: pointer;
    transition: 0.35s all cubic-bezier(0.19, 1, 0.22, 1)
}

.projectPopup__links--live:hover, .projectPopup__links--github:hover{
    box-shadow:0px 0px 15px rgb(53,100,252);
}

.projectPopup__links--live> a ,.projectPopup__links--github > a{
    text-decoration: none;
    color:white;
}


                                                    /* \\\  RWD  /// */


/* ULTRA ULTRA SMALL */
@media only screen and (max-width: 359px){
.container{
    width: 300px;
}
.aboutMe > .container > p{
    line-height:1.7;
}

.hirePopup{
    left:10%;
    min-width: 80%;
    top: 2%;

}
.backToTop{
    font-size: 3rem;
    right: -2%;
}
.backToTop > span {
    font-size: 0.65rem;
}
.menuPopup{
    margin-left: -150px;
}

.menuPopup__social{
    padding-top: 0px;
    margin-bottom: 0px;
}

hr{
    margin-top: -5px;
    height: 0;
    width: 60%;
}

.menuPopup__btnExit{
    margin-top: 2px;
    left: 45%;
}

.welcome--header{
    font-size: 34px;
}

.welcome__circle{
    margin-top: 50px;
}

.welcome--arrow{
    margin-top: 15px;
}

.skills__header{
    font-size: 36px;
}

.skillContener__box{
    margin-right: 30px;
    margin-left: 30px;
}

.projectPopup{
    margin-left: -150px;
}

.skills__header{
    font-size: 36px;
}


.skillContener__box--header{
    font-size: 18px;
}

.skillContener__box--paragraph{
    font-size:14px;
    line-height: 1.2188;
    width: 170%;
}

.projects__header{
    font-size:34px;
}

.projects__box{
    margin-right: 10px;
    margin-top: 10px;
    height: 100px;
    width: calc(100% / 3);
}

.projectPopup__header--icon{
    margin-left: 0px;
    margin-top:-10px;
    margin-right: 3px;
    width: 20px;
    height: 20px;
}

.projectPopup__header--title{
    font-size: 15px;
    margin-left: 0;
    margin-right:0;
    line-height: 0.902;

}

.projectPopup__header--tags{
    font-size: 8px;
    border-radius: 15px;
    margin-left: 3px;
    margin-top: -9px;
    padding-right: 4px;
    padding-left: 4px
}

.projectPopup__btnExit{
    left: 91%;
    top: 1%;
}

.hireMe > .container > h1{
    font-size: 18.324px;
}

.hireMe > div > button > span{
    width:180px;

}

.hireMe > div > button > span{
    font-size: 10px;
    line-height: 0.875;
}

}


/* SMALL */
@media (min-width: 359px) and (max-width: 550px) {

.container{
    width: 350px;
}

.aboutMe > .container > p{
    line-height:1.7;
}

.hirePopup{
    min-width: 80%;
    left:10%;
}

.menuPopup{
    margin-left: -175px;
}

.menuPopup__btnExit{
    left:43%;

}
.backToTop{
    font-size: 3rem;
    right: -2%;
}
.backToTop > span {
    font-size: 0.65rem;
}
.skills__header{
    font-size: 36px;
}

.skillContener__box{
    margin-right: 40px;
    margin-left: 40px;
}


.skillContener__box--header{
    font-size: 18px;
}


.skillContener__box--paragraph{
    font-size:14px;
    line-height: 1.2188;
    width: 180%;
}

.projects__header{
    font-size:36px;
}

.projects__box{
    margin-right: 10px;
    margin-top: 10px;
    height: 100px; 
    width: calc(100% / 3);
}

.projectPopup{
    margin-left: -175px;
}

.projectPopup__header--icon{
    margin-left: 0px;
    margin-top:-10px;
    margin-right: 3px;
    width: 20px;
    height: 20px;
}

.projectPopup__header--title{
    font-size: 15px;
    margin-left: 0;
    margin-right:0;
    line-height: 0.902;
}

.projectPopup__header--tags{
    font-size: 8px;
    border-radius: 15px;
    margin-left: 3px;
    margin-top: -9px;
    padding-right: 4px;
    padding-left: 4px
}
    
.projectPopup__btnExit{
    left: 91%;
    top: 1%;
}

.hireMe > .container > h1{
    font-size: 18.324px;
}

.hireMe > div > button > span{
    width:180px;
}

.hireMe > div > button > span{
    font-size: 10px;
    line-height: 0.875;
}
  
}

/* Landscapes */

@media (min-width: 550px) and (max-width: 767px){

.container{
    width: 550px;
}

.menuPopup{
    margin-left: -275px;
}

.welcome__circle{
    margin-top: 40px;
}

.welcome--header{
    font-size: 28px;
}

.welcome--header3{
    font-size:12px;
    margin-top: -10px;
}

.welcome--arrow{
    margin-top: 5px;
}

.skillContener__box--header{
    font-size:18px;
}

.skillContener__box--paragraph{
    font-size: 12px;
}

.aboutMe > .container > p{
    line-height: 1.5;
}

.projectPopup{
    margin-left:-275px;
}

.projects__box{
    height: 100px;
    margin-right: 0px; 
    margin-top: 0px; 
}

.projectPopup__header--tags{
    font-size:10px;
    margin-left: 2px;
}

.projectPopup__header--icon{
    width: 20px;
    height: 20px;
}

.projectPopup__header--title{
    font-size:20px;
}

body > div.container.projectPopup > div.projectPopup__header > button{
    margin-top:-17px;
}

.hireMe > .container > h1{
    font-size: 21.324px;
}

.hirePopup{
    top: 2%;
}

.hirePopup__btnExit{
    margin-top:0px;
    left: 44%; 
}

.hirePopup > h1{
    font-size: 30px;
    margin-top: -10px;
}

.hirePopup__form__input--message{
    height: 90px;
}

.hirePopup__form__input--submit{
    margin-bottom:5px;
    margin-top:0px;
}

.menuPopup--link{
    font-size: 26px;
}

hr{
    margin-top: 5px;
}

.menuPopup__social{
    padding:0px;
    margin-bottom: 20px;
}

ul,li{
    margin-top: -12px;
}

}

/* Tablety */

@media (min-width: 768px) and (max-width: 1199px) {
.container{
    width:750px;
}

.skillContener__box{
    margin-right: 80px;
    margin-left: 80px;
}

.skillContener__box--header {
    font-size: 15px;
}

.projects__box {
    margin-right: 10px;
    margin-top: 10px;
    height: 120px;
 }

 .menuPopup{
    margin-left: -375px;
 }
 
 .projectPopup{
    margin-left: -375px;
}
 
 body > div.container.projectPopup > div.projectPopup__header > button{
    margin-top:0px;
 }

 .projectPopup__btnExit{
    margin-top:0px;
    left: 95%;
    top: 1%;
 }

.projectPopup__header--title {
    font-size: 26px;
 }

.projectPopup__header--icon {
    margin-right:5px;
    width: 30px;
    height: 30px; 
}
}
