
html,body{
    font-size:16px;
    padding:0;
    margin:0;
}

.container{
    width: 1200px;
    height:100%;
    margin: 0 auto;
}

.container-fluid{
    width: 100%;
    margin: 0 auto;
}
/* Navigation */
.navi{
    height:12vh;
    width:100%;
    position:fixed;
}
/* Welcome screen 100vh */
.welcome{
    background: url("../images/welcome_background_lines.png");
    background-size: contain;
    background-position:center;
    background-repeat:no-repeat;
    background: -moz-linear-gradient( 39deg, rgb(54,149,255) 0%, rgb(53,100,252) 100%);
    background: -webkit-linear-gradient( 39deg, rgb(54,149,255) 0%, rgb(53,100,252) 100%);
    background: -ms-linear-gradient( 39deg, rgb(54,149,255) 0%, rgb(53,100,252) 100%);
    height:720px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* .welcome--lines{
    width: 100%;
    height: 100%;
    background: url("../images/welcome_background_lines.png");
    background-size: cover;
    background-position:center;
    background-repeat:no-repeat;
} */

.welcome__circle{
    border-style: solid;
    border-width: 3px;
    border-color: rgb(255, 255, 255);
    border-radius: 50%;
    background: url("../images/face.png");
    background-position-y: 18px;
    background-size:contain;
    background-repeat: no-repeat;
    background-color: rgb(255, 255, 255);
    position:relative;
    width: 125px;
    height: 125px;  
}

.welcome__circle:after{
    content:"";
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    opacity: 0.059;
    position: absolute;
    left: calc(50% - 83px);
    top: -20px;
    width: 165px;
    height: 165px;  
}

.welcome__circle:before{
    content:"";
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    opacity: 0.09;
    position: absolute;
    left: calc(50% - 72px);
    top: -10px;
    width: 144px;
    height: 144px; 
}

.welcome--menubtn{
    border: 0px;
    background: url("../images/menu_icon.png");
    background-size:contain;
    background-position: center;
    position:relative;
    top:9vh;
    left: 100%;
    width: 20px;
    height:15px;
    cursor: pointer;

}
.welcome--header{
    font-size: 40px;
    font-family: "Lato";
    font-weight:900;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
 
}

.welcome--header3{
    font-size: 16px;
    font-weight:300;
    font-family: "Lato";
    color: rgba(255, 255, 255, 0.7);
    text-transform: uppercase;
    line-height: 2.188;
    text-align: center;     
}

.welcome__hirebtn{
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 30px;
    width: 160px;
    height: 45px;
    cursor: pointer;
  }

.welcome__hirebtn--span{
    font-size: 12px;
    font-family: "Lato";
    color: rgb(54, 149, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.875;
    text-align: center;
}
.welcome--arrow{
    background: url("../images/arrow_down.png");
    background-size:contain;
    background-position:center;
    background-repeat: no-repeat;
    width: 15px;
    height: 30px; 
    bottom:20px;
}

/* Section About Me  45vh */
.aboutMe{
    width:100%;
    height:45vh;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.aboutMe > .container{
    position:relative;
    top:5vh;
}
.aboutMe > .container > h1{
    font-size: 42px;
    font-family: "Lato";
    font-weight: 300;
    color: rgb(54, 119, 253);
    line-height: 0.702;
    text-align: center;
}

.aboutMe > .container > p{
    font-size: 15px;
    font-family: "Lato";
    color: rgb(90, 90, 90);
    line-height: 1.988;
    text-align: center;
  
}
/* Section Skills 130vh */
.skills{
    background-color: rgb(241, 248, 255);
    width:100%;
    height: 110vh;
}

.skills--header{
    font-size: 42px;
    font-weight:300;
    font-family: "Lato";
    color: rgb(54, 119, 253);
    line-height: 0.702;
    text-align: center;
    position:relative;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    top:5vh;
    width:100%;
    /* height:60px; */
    
}

.skillContener{
    display:flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}
.skillContener__box{
    border:1px solid black;
    margin: 5px;
    margin-right: 25px;
    width:calc(100% / 4);
    height: 35%;
}
/* Section Projects 120vh */
.projects{
    width:100%;
    height:120vh;
}

/* Section Hire 35vh */
.hire{
    width:100%;
    height:35vh;
}









